<h1>Add an event</h1>
<form class="ui form">
	<div class="fields">
	<div class="eight wide field">
	    <label>Name of task</label>
	    <input type="text" name="first-name" placeholder="Mow the lawn">
	</div>
	<div class="two wide field">
		<label>Due Date</label>
		<select class="ui fluid search dropdown" >
		    <option value="">Due by</option>
		    <option value="1">Monday</option>
		    <option value="2">Tuesday</option>
		    <option value="3">Wednesday</option>
		    <option value="4">Thursday</option>
		    <option value="5">Friday</option>
		    <option value="6">Saturday</option>
		    <option value="7">Sunday</option>
		</select>
	</div>
	<div class="two wide field">
		<label>Time Required</label>
		<select class="ui fluid search dropdown" >
		    <option value="">Time Required</option>
		    <option value="1">1 hour</option>
		    <option value="2">2 hour</option>
		    <option value="3">3 hour</option>
		    <option value="4">4 hour</option>
		    <option value="5">5 hour</option>
		    <option value="6">6 hour</option>
		    <option value="7">7 hour</option>
		</select>
	</div>
	<div class="ui slider checkbox">
		
	    <input type="checkbox" tabindex="0" class="hidden">
	    <label>Splittable</label>
	</div>
	</div>
</form>
